.vs/
*.vcxproj.user
*.suo
*.user
*.cache
*.log
bin/
build/
Debug/
Release/
/Hospital_Project/Hospital_Project/Datasortie.txt
/Hospital_Project/Datasortie.txt
/Hospital_Project/Hospital_Project/Data/sortie.txt
